img {
    width: 80%;
    height: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav-left ul{
    display: flex;
    gap: 8px;
}

.top-nav-right ul{
    display: flex;
    gap: 8px;
}
.bottom-nav ul {
    display: flex;
    gap: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.container h3 {
    width: 80%;
}
.container p {
    width: 80%;
}





/* Footer section */
.footer {
    margin-top: 50px;
    margin-bottom: 50px;
    background: lightblue;
}
.footer-bottom-link ul {
    display: flex;
    gap: 8px;
}